<!-- Page Banner -->
<div class="page-banner-area item-bg3">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- About -->
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image-warp"></div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content warp">
                    <span>About Us</span>
                    <h3>We Help Patients consult with the best doctors and ask Questions</h3>
                    <div class="bar"></div>
                    <strong>We maintain relationships with best doctors and medical industries in order to provide best
                        possible help to consumers.</strong>
                    <p>They can book appointments from leading hospitals, and also can view information about other
                        medicines.</p>
                    <p>Patients can also contact our customer support team to get their queries resolved anytime.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<!-- Testimonial -->
<section class="testimonial-area testimonial-two pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="testimonial-content">
                    <span>Testimonials</span>
                    <h2>Our Client’s Review</h2>
                    <div class="bar"></div>
                </div>
            </div>
        </div>

        <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>I've been using Medibuddy for a few months now, and it has been a lifesaver! The
                                convenience of booking online appointments with renowned doctors like Dr. Sharma and
                                getting prompt support from the site has made managing my health so much easier.</p>
                            <div class="info-text">
                                <h4>Morris Jacket</h4>
                                <span>Diagnosed with Lung Cancer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image image-two"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>As a busy professional, I rely on Medibuddy for quick and reliable healthcare solutions.
                                The platform has connected me with top-notch doctors like Dr. Patel, and their support
                                has been invaluable in managing my health concerns efficiently and effectively.</p>
                            <div class="info-text">
                                <h4>Laura John</h4>
                                <span>Diagnosed with Neuro</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image image-three"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>I've had a wonderful experience with Medibuddy. The user-friendly app has allowed me to
                                book appointments with leading doctors like Dr. Singh seamlessly, and the support I've
                                received from the site has been exceptional. I highly recommend Medibuddy for anyone
                                seeking convenient and reliable healthcare solutions.</p>
                            <div class="info-text">
                                <h4>Lee Munroe</h4>
                                <span>Diagnosed with Epilepsy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial -->

<!-- Subscribe -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-content">
            <span>Get Started Instantly!</span>
            <h2>Get New updates and notifications from our channel!</h2>
            <form class="newsletter-form">
                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>
<!-- End Subscribe -->

<!-- Partner -->
<!-- <div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <img src="assets/img/partner/partner-1.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-2.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-3.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-4.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-5.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-6.png" alt="image">
            </div>
        </div>
    </div>
</div> -->
<!-- End Partner -->