<!-- Main Banner -->
<div class="main-banner">
    <div class="main-banner-item item-four">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-content">
                                <h1>Consult doctors online.</h1>
                                <p>Information on Hospitals, Doctors and Medicines - all at one place! Ask a Question
                                    about your health, Register with us and consult a doctor for free*, Plan a visit,
                                    Know more about surgeries.</p>
                                <form class="banner-form">
                                    <input type="text" class="form-control"
                                        placeholder="Search anything about medicines...">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-image">
                                <img src="assets/img/Web_Home-Page_Banner_03.webp" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner -->

<!-- Team -->
<section class="team-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Hospitals</span>
            <h2>Get to know the best Hospitals</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/team/team-6.jpg" alt="image">
                        </a>
                    </div>

                    <div class="content">
                        <h3>Boston Childrens Hospital</h3>
                        <span>Boston, Massachusets, USA</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/team/team-6.jpg" alt="image">
                        </a>
                    </div>

                    <div class="content">
                        <h3>Van Louis Hospital</h3>
                        <span>Chicago, Illinois, USA</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/team/team-6.jpg" alt="image">
                        </a>
                    </div>

                    <div class="content">
                        <h3>Georgia State Hospital</h3>
                        <span>Atlanta, Georgia, USA</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/team/team-6.jpg" alt="image">
                        </a>
                    </div>

                    <div class="content">
                        <h3>California International Hospital</h3>
                        <span>San Jose, California, USA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team -->

<!-- Features -->
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-width">
            <span>Health Facts</span>
            <h2>Know latest health facts happening around the world</h2>
            <div class="bar"></div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="features-image-warp">
                    <img src="assets/img/heart.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-box top-1">
                            <div class="icon">
                                <i class="flaticon-promotion"></i>
                            </div>
                            <h3><a routerLink="/">Diseases</a></h3>
                            <p>Over 1 billion people worldwide are living with hypertension, a major risk factor for
                                cardiovascular disease</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-box top-2">
                            <div class="icon">
                                <i class="flaticon-speed"></i>
                            </div>
                            <h3><a routerLink="/">Smoking</a></h3>
                            <p>Tobacco use remains a leading cause of preventable deaths worldwide, with millions of
                                smokers and tobacco-related illnesses</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-box top-3">
                            <div class="icon">
                                <i class="flaticon-email"></i>
                            </div>
                            <h3><a routerLink="/">Environment</a></h3>
                            <p>Access to clean water and sanitation remains a challenge for millions of people around
                                the world, leading to increased risks of waterborne diseases</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-box top-4">
                            <div class="icon">
                                <i class="flaticon-network"></i>
                            </div>
                            <h3><a routerLink="/">Vaccines</a></h3>
                            <p>Vaccination campaigns are underway globally to combat COVID-19, with millions of doses
                                administered every day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features -->

<!-- Services -->
<section class="services-area bg-fafafa pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Top Doctors</span>
            <h2>Findout more from our list of top doctors</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-7.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/services-details">Dr. Manish Pandey</a></h3>
                        <span>Neurology</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-8.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/services-details">Dr. Ansari Sharma</a></h3>
                        <span>Dermatology</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-9.jpg" alt="image">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/services-details">Dr. Mahathi Reddy</a></h3>
                        <span>Gynaecologist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->

<section class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <span>Top Questions</span>
            <h2>Browse through top Questions about medicines</h2>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <span>28th March, 2023</span>
                        <h3>When symbicort can cause cushing syndrome or coconut (systemic
                            effects) in asthma patient and when to stop it and what is the alternative?
                        </h3>
                        <p>Symbicort/ inhalation steroids causing cushings is less known side effect. Unless if it is
                            used with other liver enzyme inhibitors that itself is not common.</p>
                        <a class="blog-btn">Answered by Dr. Parameshwar</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <span>29th March, 2023</span>
                        <h3>I am 32 weeks pregnant .my doppler scan reveals mild
                            utroplacental insufficiency. Is this serious how can I manage this?</h3>
                        <p>Depending on severity it may become problemetic. As it is mild now one needs to do more
                            reports and remain under repeated check ups by gynecologist (obstetrician)</p>
                        <a class="blog-btn">Answered by Dr. Monal Gupta</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <span>1st April, 2023</span>
                        <h3>I am 42 yes and trying to convince. In my ultrasound diagnosis
                            copious fluid in the pouch of douglas. What treatment is available for it?
                        </h3>
                        <p>1) if a female is 35 or more at the delivery time, there is a higher chance of problems in
                            the baby and the mother, so first understand the same and accept. 2) if planning pregnancy
                            better not to delay so for early pregnancy go for aggressive treatment. 3) as a couple meet
                            infertility specialist.</p>
                        <a class="blog-btn">Answered by Dr. Manohar Sharma</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single-blog">
                    <div class="content">
                        <span>2nd April, 2023</span>
                        <h3>I started using betnovate n for pimples when I am 15 years old
                            whenever I stopped using it pimples start occurring what can I do?</h3>
                        <p>Using betnovate cream, that is potent steroid for long periods of time may result in skin
                            damage, such as acne like bumps on skin, irritation, redness on sun exposure etc. You might
                            need treatment according to the extent of skin damage. Its highly recommend that you consult
                            a dermatologist for personalised advice. Do not indulge in home remedies or self medication
                            especially when it concerns the face!</p>
                        <a class="blog-btn">Answered by Dr. Parameshwar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Digital Experience -->
<!-- <section class="digital-experience-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Digital Experience</span>
            <h2>Outstanding Digital Experience</h2>
            <div class="bar"></div>
        </div>

        <div class="tab digital-experience-tab">
            <ul class="tabs">
                <li>
                    <a href="#">
                        <span>
                            <i class="flaticon-analysis"></i>
                            Real-Time Analytics
                        </span>
                    </a>
                </li>
                <li class="bg-5cbd12">
                    <a href="#">
                        <span>
                            <i class="flaticon-profit"></i>
                            Pay-Per-Click
                        </span>
                    </a>
                </li>
                <li class="bg-e2851b">
                    <a href="#">
                        <span>
                            <i class="flaticon-digital-marketing"></i>
                            Online Marketing
                        </span>
                    </a>
                </li>
                <li class="bg-04b893">
                    <a href="#">
                        <span>
                            <i class="flaticon-email-marketing"></i>
                            Email Marketing
                        </span>
                    </a>
                </li>
                <li class="bg-785eda">
                    <a href="#">
                        <span>
                            <i class="flaticon-network"></i>
                            Social Marketing
                        </span>
                    </a>
                </li>
                <li class="bg-d0465a">
                    <a href="#">
                        <span>
                            <i class="flaticon-digital-marketing-2"></i>
                            Digital Marketing
                        </span>
                    </a>
                </li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Real-Time Analytics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-1.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Pay-Per-Click</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-2.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Online Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-3.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Email Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-4.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Social Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-5.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-content">
                                <h3>Digital Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan facilisis.</p>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Super Responsive</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>High Security</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>

                                <div class="experience-inner-content">
                                    <div class="icon">
                                        <i class="flaticon-check"></i>
                                    </div>
                                    <h3>Optimal Choice</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="digital-experience-image">
                                <img src="assets/img/digital-experience/digital-experience-6.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Digital Experience -->

<!-- Fun Facts -->
<!-- <section class="fun-facts-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-checked"></i>
                    </div>
                    <h3><span class="odometer" data-count="950">00</span></h3>
                    <p>Completed Project</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div>
                    <h3><span class="odometer" data-count="850">00</span></h3>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h3><span class="odometer" data-count="550">00</span></h3>
                    <p>Multi Service</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span class="odometer" data-count="750">00</span></h3>
                    <p>Winning Awards</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Fun Facts -->

<!-- Pricing -->
<!-- <section class="pricing-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Pricing Plans</span>
            <h2>The Best Solutions for Our Clients</h2>
            <div class="bar"></div>
        </div>

        <div class="tab pricing-tab">
            <ul class="tabs">
                <li><a href="#">Monthly</a></li>
                <li><a href="#">Yearly</a></li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box top-1">
                                <div class="pricing-header">
                                    <h3>Basic Plan</h3>
                                </div>

                                <div class="price">
                                    $24
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box">
                                <div class="pricing-header">
                                    <h3>Standard Plan</h3>
                                </div>

                                <div class="price">
                                    $59
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box top-2">
                                <div class="pricing-header">
                                    <h3>Premium Plan</h3>
                                </div>

                                <div class="price">
                                    $89
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box top-1">
                                <div class="pricing-header">
                                    <h3>Basic Plan</h3>
                                </div>

                                <div class="price">
                                    $224
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box">
                                <div class="pricing-header">
                                    <h3>Standard Plan</h3>
                                </div>

                                <div class="price">
                                    $259
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="single-pricing-box top-2">
                                <div class="pricing-header">
                                    <h3>Premium Plan</h3>
                                </div>

                                <div class="price">
                                    $289
                                </div>

                                <ul class="pricing-features">
                                    <li><i class="flaticon-check-mark"></i> SEO Audits</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Management</li>
                                    <li><i class="flaticon-check-mark"></i> SEO Copywriting</li>
                                    <li><i class="flaticon-check-mark"></i> Link Building</li>
                                    <li><i class="flaticon-check-mark"></i> Site Migration</li>
                                    <li><i class="flaticon-check-mark"></i> Video Camplaigns</li>
                                    <li><i class="flaticon-check-mark"></i> Unlimited SEO Keywords</li>
                                </ul>

                                <div class="pricing-btn">
                                    <a routerLink="/" class="default-btn">Get Started</a>
                                </div>

                                <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Pricing -->

<!-- Testimonials -->
<!-- <section class="testimonial-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="testimonial-content">
                    <span>Testimonials</span>
                    <h2>Our Client’s Review</h2>
                    <div class="bar"></div>
                </div>
            </div>
        </div>

        <div class="testimonial-slider owl-carousel owl-theme">
            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida Risus maecenas
                                accumsan noniice Lorem Ipsum.</p>
                            <div class="info-text">
                                <h4>Morris Jacket</h4>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image image-two"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida Risus maecenas
                                accumsan noniice Lorem Ipsum.</p>
                            <div class="info-text">
                                <h4>Mahindra jhon</h4>
                                <span>App Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-image image-three"></div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="testimonial-inner-content">
                            <div class="icon">
                                <i class="flaticon-left-quotes-sign"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida Risus maecenas
                                accumsan noniice Lorem Ipsum.</p>
                            <div class="info-text">
                                <h4>Lee Munroe</h4>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Testimonials -->

<!-- Overview -->
<!-- <section class="overview-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <span>What We Doing Best</span>
                    <h3>Marketing Goals Achieved with Develop</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="overview-btn">
                        <a routerLink="/" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="overview-image">
                    <img src="assets/img/overview.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Overview -->

<!-- Subscribe -->
<!-- <section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-content">
            <span>Get Started Instantly!</span>
            <h2>Get Only New Update from this Newsletter</h2>
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section> -->
<!-- End Subscribe -->

<!-- Partner -->
<!-- <div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <img src="assets/img/partner/partner-1.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-2.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-3.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-4.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-5.png" alt="image">
            </div>

            <div class="partner-item">
                <img src="assets/img/partner/partner-6.png" alt="image">
            </div>
        </div>
    </div>
</div> -->
<!-- End Partner -->